In [2]:
import pyspark 
from pyspark.sql import SparkSession
import findspark
findspark.init()

spark_session = SparkSession.builder.master("local[*]").appName('spark_sql').getOrCreate()

23/03/03 03:02:02 WARN FileSystem: Cannot load filesystem: java.util.ServiceConfigurationError: org.apache.hadoop.fs.FileSystem: com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem Unable to get public no-arg constructor
23/03/03 03:02:02 WARN FileSystem: java.lang.NoClassDefFoundError: com/google/api/client/http/HttpRequestInitializer
23/03/03 03:02:02 WARN FileSystem: java.lang.ClassNotFoundException: com.google.api.client.http.HttpRequestInitializer

In [3]:
df_green = spark_session.read.parquet("data/pq/green/*/*")

AnalysisException: Path does not exist: file:/home/idowuilekura/Desktop/dataengineering_zoomcamp/week_five/data/pq/green/*/*

In [4]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       1| 2020-01-24 22:00:56|  2020-01-24 22:06:12|                 N|         1|          95|         196|              1|         null|        6.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|
|    null| 2020-01-16 14:46:00|  2020-01-16 15:01:00|              null|      null|         130|          10|           null|         null|      21.57| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       24.62|        null|     null|                null|
|       2| 2020-01-13 07:58:32|  2020-01-13 08:26:00|                 N|         1|         166|         142|              1|         null|       18.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       21.55|           2|        1|                2.75|
|    null| 2020-01-09 12:57:00|  2020-01-09 13:13:00|              null|      null|          97|         256|           null|         null|       9.44|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        9.74|        null|     null|                null|
|       1| 2020-01-08 13:45:35|  2020-01-08 13:50:37|                 N|         1|         116|         116|              2|         null|        5.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           2|        1|                 0.0|
|       2| 2020-01-05 11:25:46|  2020-01-05 11:32:13|                 N|         1|          25|          52|              1|         null|        7.0|  0.0|    0.5|      1.56|         0.0|     null|                  0.3|        9.36|           1|        1|                 0.0|
|       1| 2020-01-24 08:38:07|  2020-01-24 08:45:33|                 N|         1|          42|          74|              1|         null|        7.0|  0.0|    0.5|       2.0|         0.0|     null|                  0.3|         9.8|           1|        1|                 0.0|
|    null| 2020-01-26 11:26:00|  2020-01-26 11:26:00|              null|      null|          41|          41|           null|         null|      14.65| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|        17.7|        null|     null|                null|
|       2| 2020-01-16 09:46:53|  2020-01-17 09:39:53|                 N|         1|         226|         157|              1|         null|       20.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        20.8|           2|        1|                 0.0|
|       2| 2020-01-28 18:37:13|  2020-01-28 18:52:42|                 N|         1|          97|         228|              1|         null|       12.0|  1.0|    0.5|       2.5|         0.0|     null|                  0.3|        16.3|           1|        1|                 0.0|
|       2| 2020-01-13 14:23:49|  2020-01-13 14:30:11|                 N|         1|           7|         146|              1|         null|        6.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           2|        1|                 0.0|
|    null| 2020-01-12 12:08:00|  2020-01-12 12:21:00|              null|      null|          91|          85|           null|         null|      17.74| 2.75|    0.5|       0.0|         0.0|     null|                  0.0|       20.99|        null|     null|                null|
|    null| 2020-01-04 09:57:00|  2020-01-04 10:14:00|              null|      null|          39|          39|           null|         null|      14.93| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       18.48|        null|     null|                null|
|       2| 2020-01-05 01:13:49|  2020-01-05 01:22:46|                 N|         1|         169|          78|              1|         null|        8.0|  0.5|    0.5|      1.86|         0.0|     null|                  0.3|       13.11|           1|        1|                 0.0|
|       2| 2020-01-31 12:35:00|  2020-01-31 12:55:24|                 N|         1|          66|          97|              3|         null|       15.0|  0.0|    0.5|      3.16|         0.0|     null|                  0.3|       18.96|           1|        1|                 0.0|
|       2| 2020-01-25 01:30:57|  2020-01-25 01:36:06|                 N|         1|         255|         112|              1|         null|        6.0|  0.5|    0.5|       2.0|         0.0|     null|                  0.3|         9.3|           1|        1|                 0.0|
|       2| 2020-01-21 09:50:39|  2020-01-21 09:56:33|                 N|         1|          33|          66|              1|         null|        5.5|  0.0|    0.5|      1.26|         0.0|     null|                  0.3|        7.56|           1|        1|                 0.0|
|       2| 2020-01-13 22:29:22|  2020-01-13 22:39:07|                 N|         1|         244|          42|              2|         null|        9.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.8|           2|        1|                 0.0|
|       2| 2020-01-02 06:55:53|  2020-01-02 06:58:23|                 N|         1|          42|          42|              1|         null|        4.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         4.8|           2|        1|                 0.0|
|       2| 2020-01-08 17:20:25|  2020-01-08 17:23:23|                 N|         1|          41|          41|              1|         null|        4.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           2|        1|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df_yellow = spark_session.read.parquet("data/pq/yellow/*/*")

In [6]:
# get the columns and combine them
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [11]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [12]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [14]:
yellow_column = df_yellow.columns

In [15]:
green_column = df_green.columns

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [16]:
common_columns = []

for col in green_column:
    if col in yellow_column:
        common_columns.append(col)
    else:
        pass

In [17]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [19]:
from pyspark.sql import functions as F

In [28]:
df_green_sel = df_green.select(common_columns).withColumn('service_type',F.lit('green'))

In [29]:
df_yellow_sel = df_yellow.select(common_columns).withColumn('service_type',F.lit('yellow'))

In [27]:
help(F.lit)

Help on function lit in module pyspark.sql.functions:

lit(col: Any) -> pyspark.sql.column.Column
    Creates a :class:`~pyspark.sql.Column` of literal value.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.select(lit(5).alias('height')).withColumn('spark_user', lit(True)).take(1)
    [Row(height=5, spark_user=True)]

In [30]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [34]:
df_trips_data.registerTempTable('trips_data')

/home/idowuilekura/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [35]:
df_trips_data.createOrReplaceTempView('trips_data')

In [33]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [38]:
spark_session.sql("""
SELECT service_type,
count(1)
FROM 
trips_data 
GROUP BY 1;
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [43]:
df_result = spark_session.sql("""
 SELECT 
    -- Reveneue grouping 
    PULocationID as revenue_zone,
    date_trunc('month', pickup_datetime) as revenue_month, 

    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,
    sum(congestion_surcharge) as revenue_monthly_congestion_surcharge,

    -- Additional calculations
    avg(passenger_count) as avg_montly_passenger_count,
    avg(trip_distance) as avg_montly_trip_distance

    FROM trips_data
    GROUP BY 
        1,2,3;
""")

In [44]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         127|2020-02-01 00:00:00|       green|  21571.680000000008|               890.75|                  495.0|                   1050.52|           488.8000000000003|                   345.00000000000523|           25119.14999999976|                               264.0|        1.1945837512537614|                    null|
|           9|2020-02-01 00:00:00|       green|   7251.640000000001|               643.25|                   25.0|         7.720000000000001|          183.20000000000005|                    77.99999999999976|           8193.509999999998|                                2.75|        1.1219512195121952|                    null|
|           6|2020-02-01 00:00:00|       green|                46.5|                  0.0|                    0.5|                       0.0|                       18.36|                                  0.3|                       68.41|                                2.75|                       1.0|                    null|
|          47|2020-01-01 00:00:00|       green|  16630.150000000027|               1192.0|                  160.0|        42.230000000000004|           523.0000000000002|                   210.90000000000228|           18770.42999999991|                                11.0|         1.177685950413223|                    null|
|         180|2020-02-01 00:00:00|       green|             2817.15|                178.0|                   15.0|                     12.52|                       37.47|                    30.00000000000004|          3090.1400000000003|                                 0.0|        1.0606060606060606|                    null|
|          53|2020-01-01 00:00:00|       green|   6281.649999999996|               330.25|                   49.0|                     39.22|          102.50000000000001|                    68.39999999999971|           6873.770000000004|                                2.75|        1.2417582417582418|                    null|
|         128|2020-01-01 00:00:00|       green|  3261.3300000000013|                158.0|                   35.5|                     82.25|          104.04000000000002|                    34.50000000000003|          3714.0200000000027|                                27.5|        1.0169491525423728|                    null|
|         263|2020-01-01 00:00:00|       green|   8987.339999999991|                561.0|                 124.55|        315.27000000000015|           335.0600000000002|                   127.19999999999915|                    10684.17|                              239.25|        1.4293478260869565|                    null|
|         150|2020-01-01 00:00:00|       green|   9996.160000000002|                627.5|                   98.0|                     97.87|                      149.14|                   109.49999999999932|           11082.06999999998|                                 0.0|        1.1147540983606556|                    null|
|          19|2020-01-01 00:00:00|       green|   7798.879999999997|                377.0|                   42.0|                      6.66|          174.40000000000003|                    67.49999999999972|           8466.440000000004|                                 0.0|                  1.046875|                    null|
|          81|2020-02-01 00:00:00|       green|   17340.13000000001|               1127.5|                  110.5|                     20.75|           991.5900000000004|                   149.39999999999918|           19743.76999999998|                                 0.0|        1.2653061224489797|                    null|
|          22|2020-02-01 00:00:00|       green|  17398.530000000028|               1148.5|                   99.5|         74.39999999999999|          478.57000000000016|                    164.9999999999995|          19367.249999999975|                                2.75|        1.1590909090909092|                    null|
|          40|2020-02-01 00:00:00|       green|  21840.030000000002|                896.5|                  831.0|        3179.4300000000026|           397.8000000000002|                    517.8000000000098|          28638.259999999762|                              967.75|        1.2492456246228123|                    null|
|          37|2020-02-01 00:00:00|       green|  23375.710000000057|              1982.75|                  229.0|        428.94999999999993|           527.5100000000002|                    284.1000000000033|           26942.41999999996|                              104.25|        1.2318059299191375|                    null|
|         186|2020-01-01 00:00:00|       green|  1539.2299999999998|                85.25|                    6.0|                       0.0|           97.92000000000002|                   13.800000000000011|                      1742.2|                                 0.0|        1.6666666666666667|                    null|
|          71|2020-02-01 00:00:00|       green|  26571.900000000125|               2603.5|                  195.0|                     30.23|           465.5400000000003|                   308.40000000000396|          30183.969999999892|                                 5.5|                    1.1875|                    null|
|         216|2020-02-01 00:00:00|       green|   19758.42000000002|               1245.0|                  110.0|        102.96000000000001|           424.2500000000003|                   195.30000000000052|           21843.37999999994|                                 5.5|        1.1793893129770991|                    null|
|          38|2020-02-01 00:00:00|       green|    8637.03999999999|               605.75|                   34.0|                       5.0|          165.24000000000004|                    77.39999999999979|           9526.380000000001|                                 0.0|        1.2173913043478262|                    null|
|          95|2020-03-01 00:00:00|       green|   75784.66999999995|              2378.75|                 2877.0|        6567.2899999999945|           1171.179999999998|                    1875.599999999807|           91141.79000000608|                              450.75|        1.3517110266159695|                    null|
|         238|2020-01-01 00:00:00|       green|  5397.9900000000025|                403.5|                   20.0|                       0.0|          124.68000000000004|                   61.199999999999775|           6007.370000000004|                                 0.0|                       1.2|                    null|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [47]:
df_result.write.mode('overwrite').parquet('data/report/revenue/')

In [56]:
df_green.createOrReplaceTempView('green_trip_data')

In [98]:
df_green_revenue = spark_session.sql("""
 SELECT 
    -- Reveneue grouping 
   
    date_trunc('hour', pickup_datetime) as hour,
     PULocationID as revenue_zone,

    -- Revenue calculation 
    sum(total_amount) as amount,
    COUNT(1) AS number_records
    FROM green_trip_data
    WHERE pickup_datetime >= '2020-01-01 00:00'
    GROUP BY 
        1,2
"""
    
)

In [102]:
df_green_revenue.write.parquet('data/report/revenue/green',mode='overwrite')

23/03/02 01:34:33 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [72]:
df_yellow.createOrReplaceTempView('yellow_trip_data')

In [100]:
df_yellow_revenue = spark_session.sql("""
 SELECT 
    -- Reveneue grouping 
   
    date_trunc('hour', pickup_datetime) as hour,
     PULocationID as revenue_zone,

    -- Revenue calculation 
    sum(total_amount) as amount,
    COUNT(1) AS number_records
    FROM yellow_trip_data
    WHERE pickup_datetime >= '2020-01-01 00:00'
    GROUP BY 
        1,2
"""
    
)

In [101]:
df_yellow_revenue.write.parquet('data/report/revenue/yellow',mode='overwrite')

23/03/02 01:33:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [103]:
df_green_revenue = spark_session.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark_session.read.parquet('data/report/revenue/yellow')

In [104]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

In [105]:
df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [106]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on =['hour','revenue_zone'], how = 'outer')

In [107]:
df_join.write.parquet('data/report/revenue/total',mode='overwrite')

23/03/02 01:35:12 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [108]:
df_join = spark_session.read.parquet('data/report/revenue/total')

In [109]:
df_zones = spark_session.read.parquet('zones/')

In [110]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [116]:
df_result = df_join.join(df_zones, df_join.revenue_zone == df_zones.LocationID)

In [117]:
df_result.drop('LocationID').write.parquet('tmp/revenue-zones')

23/03/02 01:47:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers